h1
{
    font-family: "Helvetica", sans-serif;   
    font-size: 65px;
    text-align: center;
}

h2
{
    font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
    background-color: black;
    color: white;
    text-align: center;
    height: 60px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}



table
{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    
}

table, td, tr
{
    border: 3px solid white;
    background-color:black;
    color: white;
    text-align: center;
    font-size: 70px;
    font-family: "Helvetica", sans-serif;
    width: 33%;
    height: 90px;

    
}




.el:hover
{
    color: black;
    background-color: white;
}

.el:active
{
    color: red;
    background-color: white;
}

h1:hover
{
    color: #99FF33;
}

h1:active
{
    color: #FF33FF;
}


