body
{
    background-image: url(/blizzard.png)
}

h1
{
    font-family: Didot, "Didot LT STD", "Helvetica Neue", Helvetica, Arial, 
                                  sans-serif;    
    font-size: 70px;
    font-style: italic;
    text-align: center;
    padding-bottom: 4px;
}

h2
{
    font-family: Didot, "Didot LT STD", "Helvetica Neue", Helvetica, Arial, 
                                  sans-serif;
    text-align: center;
    font-size: 30px;
}

h3
{
    font-family: Didot, "Didot LT STD", "Helvetica Neue", Helvetica, Arial, 
                                  sans-serif;
    text-align: center;
    font-size: 15px;
}

table
{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    
}

table, td, tr
{
    border: 2px solid white;
    background-color:black;
    color: white;
    text-align: center;
    font-size: 70px;
    font-family: Didot, "Didot LT STD", "Helvetica Neue", Helvetica, Arial, 
                                  sans-serif;
    
    height: 90px;
    width: 110px;
    table-layout: fixed;
}

a
{
    color: black;
}

#retry
{
    font-style: italic;
}

.el:hover
{
    color: black;
    background-color: white;
    cursor: pointer;
}

.el:active
{
    color: red;
    background-color: white;
}



#retry:hover
{
    cursor: pointer;
}
